.array-container {
    position: absolute;
    left: 100px;
}

.array-bar {
    margin-top: 30px;
    width: 5px;
    /* background-color: blue; */
    display: inline-block;
    margin: 1px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
    margin-bottom: 35px;
    margin-top: 5px;
}

.button1:hover {
    background-color: white; 
    color: black; 
    border: 0px solid #4CAF50;
}
  
.button1 {
    background-color: #4CAF50;
    color: white;
} 

.first {
    margin-right: 5cm;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
